{%extends 'home/base.html' %}
{% block title %} <title>Artysto</title> {% endblock %}
{% block login %}
{% if not request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href='{%url 'home:login' %}'>
                    <span class='glyphicon glyphicon-off' aria-hidden='true' ></span>&nbsp; Login</a>
                </li>
            </ul>
{% endif %}
{% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href='{%url 'home:logout' %}'>
                    <span class='glyphicon glyphicon-off' aria-hidden='true' ></span>&nbsp; Logout</a>
                </li>
            </ul>
{% endif %}
{% endblock %}



{% block body%}
<body >
<div id="about" >
    <h2>Who Am I?</h2>
    <p>
        I would like to think I am a multipotentialite (or in common speak a jack of all trade).
        I have always been interested in how things work, so if that meant I had to work on
        a single physics problem for three weeks I would do it. I have opted-in in courses as
        diverse as Vernacular Architecture, Accounting and Finance, Herbal Biotechnology and
        for a fourth of a semester, sneaked into a Compilers Design class.
    </p>
    <p>
        I have worked on projects and given presentations on topics like Blockchain in Supply Chain
        Management, Autonomous Vehicles, Detection of Gravitational waves, Architectural styles in
        the Himalayas and so on.
    </p>
    <p>
        I have lead teams in every year of my college life, at times multiple within a semester.
        I did miss out on several opportunity since college due to health issues but am now working
        hard to play catch up. If you are looking for someone who can devote themselves completely
        to the problem at hand, look no further.
    </p>
</div>

<div id="resume" >
    <a target="_blank" href= 'media/Shailendra_Pandey-Resume-NITC.pdf'>
        <button class="btn"><i class="fa fa-download"></i> Download Resume </button>
    </a>
</div>

</body>


{% endblock%}