.navbar{
    border-radius: 0px;
}

.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 35px;
}

.navbar-default, .navbar-collapse, .navbar-form{
    border: none;
    background-color: transparent;
}

body{
    /*background: black;*/
    background-image: linear-gradient( 90.7deg,  rgba(255,253,218,1) 1.9%, rgba(246,210,255,1) 39.3%, rgba(152,222,254,1) 64.7%, rgba(251,255,210,1) 100.8% );
}

/* Style buttons */


#about{
    background-color: White;
    font-size: 18px;
    padding: 2em;
    margin: 5em;
    margin-bottom: 1em;
    box-shadow: -0.01em -0.01em 3em 0em #888888;
}


#resume {
    text-align: center;
}


#resume .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
#resume .btn:hover {
  background-color: RoyalBlue;
}

#resume a{
    display: inline-block;
}

.nav>li>a:hover {
    background-color: transparent;
}

.panel-default{
    margin: 1em;
    padding: 2em
};
